[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}}
Icon={{icon}}
Name=ROCm
Terminal=false
Type=Application
StartupWMClass=rocm-app
